body{
  background-color: #eaeae1;

}
.card-game-type{
  min-height: 683px !important;
}
.card-game-img{
  object-fit: cover;
  height: 20vw;
}
.card-img-detail{
  display: block;
  margin: auto;
  object-fit: cover;
  width: 65vw;
}
.topfont{
  font-family: 'Lobster', cursive;
}
/*.toptext{
  left: 0;
  top: 0;
  vertical-align: middle;
  height: 500px;
  width: 100%;
  text-align: center;
  background-image: url("https://ak5.picdn.net/shutterstock/videos/2324615/thumb/8.jpg");
  background-position: center;

}*/

.info1{
  font-family: 'Archivo Black', sans-serif;
}

.info{
  display: flex;
  flex-wrap: nowrap;

}

.toptext {
  text-align: center;
  width: 100%;
  font-size: 100px;
}
.buttontop {
  /*height: 100px !important;*/
  text-align: center;

}

.header-content-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 100%;
  background-image: url("https://ak5.picdn.net/shutterstock/videos/2324615/thumb/8.jpg");
}
/*.login_input{
  max-width: 800px;
}*/
